//Copyright (C)2014-2019 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.2beta
//Part Number: GW2AR-LV18EQ144PC8/I7
//Created Time: Fri 11 01 21:07:55 2019

IO_LOC "I_sw[0]" 141;
IO_PORT "I_sw[0]" IO_TYPE=LVCMOS33;
IO_LOC "uart_rx" 138;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33;
IO_LOC "I_clk_50m" 6;
IO_PORT "I_clk_50m" IO_TYPE=LVCMOS33;
IO_LOC "I_rst_n" 129;
IO_PORT "I_rst_n" IO_TYPE=LVCMOS33;
IO_LOC "key2" 130;
IO_PORT "key2" IO_TYPE=LVCMOS33;
IO_LOC "I_sw[1]" 136;
IO_PORT "I_sw[1]" IO_TYPE=LVCMOS33;
IO_LOC "cmos_d[0]" 90;
IO_PORT "cmos_d[0]" IO_TYPE=LVCMOS33;
IO_LOC "cmos_d[1]" 123;
IO_PORT "cmos_d[1]" IO_TYPE=LVCMOS33;
IO_LOC "cmos_d[2]" 87;
IO_PORT "cmos_d[2]" IO_TYPE=LVCMOS33;
IO_LOC "cmos_d[3]" 92;
IO_PORT "cmos_d[3]" IO_TYPE=LVCMOS33;
IO_LOC "cmos_d[4]" 85;
IO_PORT "cmos_d[4]" IO_TYPE=LVCMOS33;
IO_LOC "cmos_d[5]" 88;
IO_PORT "cmos_d[5]" IO_TYPE=LVCMOS33;
IO_LOC "cmos_d[6]" 83;
IO_PORT "cmos_d[6]" IO_TYPE=LVCMOS33;
IO_LOC "cmos_d[7]" 86;
IO_PORT "cmos_d[7]" IO_TYPE=LVCMOS33;
IO_LOC "cmos_vsync" 82;
IO_PORT "cmos_vsync" IO_TYPE=LVCMOS33;
IO_LOC "cmos_href" 78;
IO_PORT "cmos_href" IO_TYPE=LVCMOS33;
IO_LOC "cmos_pclk0" 84;
IO_PORT "cmos_pclk0" IO_TYPE=LVCMOS33;
IO_LOC "cmos_sdat" 76;
IO_PORT "cmos_sdat" IO_TYPE=LVCMOS33;
IO_LOC "O_led[0]" 124;
IO_PORT "O_led[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_led[1]" 125;
IO_PORT "O_led[1]" IO_TYPE=LVCMOS33;
IO_LOC "O_led[2]" 126;
IO_PORT "O_led[2]" IO_TYPE=LVCMOS33;
IO_LOC "O_led[3]" 128;
IO_PORT "O_led[3]" IO_TYPE=LVCMOS33;
IO_LOC "cmos_sclk" 79;
IO_PORT "cmos_sclk" IO_TYPE=LVCMOS33;
IO_LOC "cmos_rst_n" 122;
IO_PORT "cmos_rst_n" IO_TYPE=LVCMOS33;
IO_LOC "cmos_xclk" 80;
IO_PORT "cmos_xclk" IO_TYPE=LVCMOS33;
IO_LOC "vga_r5" 42;
IO_PORT "vga_r5" IO_TYPE=LVCMOS33;
IO_LOC "vga_r6" 44;
IO_PORT "vga_r6" IO_TYPE=LVCMOS33;
IO_LOC "vga_r7" 40;
IO_PORT "vga_r7" IO_TYPE=LVCMOS33;
IO_LOC "vga_r8" 43;
IO_PORT "vga_r8" IO_TYPE=LVCMOS33;
IO_LOC "vga_r9" 38;
IO_PORT "vga_r9" IO_TYPE=LVCMOS33;
IO_LOC "vga_g5" 41;
IO_PORT "vga_g5" IO_TYPE=LVCMOS33;
IO_LOC "vga_g6" 34;
IO_PORT "vga_g6" IO_TYPE=LVCMOS33;
IO_LOC "vga_g7" 39;
IO_PORT "vga_g7" IO_TYPE=LVCMOS33;
IO_LOC "vga_g8" 32;
IO_PORT "vga_g8" IO_TYPE=LVCMOS33;
IO_LOC "vga_g9" 35;
IO_PORT "vga_g9" IO_TYPE=LVCMOS33;
IO_LOC "vga_b5" 29;
IO_PORT "vga_b5" IO_TYPE=LVCMOS33;
IO_LOC "vga_b6" 33;
IO_PORT "vga_b6" IO_TYPE=LVCMOS33;
IO_LOC "vga_b7" 27;
IO_PORT "vga_b7" IO_TYPE=LVCMOS33;
IO_LOC "vga_b8" 30;
IO_PORT "vga_b8" IO_TYPE=LVCMOS33;
IO_LOC "vga_b9" 25;
IO_PORT "vga_b9" IO_TYPE=LVCMOS33;
IO_LOC "vga_hs" 26;
IO_PORT "vga_hs" IO_TYPE=LVCMOS33;
IO_LOC "vga_vs" 24;
IO_PORT "vga_vs" IO_TYPE=LVCMOS33;
IO_LOC "vga_clk" 23;
IO_PORT "vga_clk" IO_TYPE=LVCMOS33;
IO_LOC "vga_blank" 28;
IO_PORT "vga_blank" IO_TYPE=LVCMOS33;
IO_LOC "pwm" 15;
IO_PORT "pwm" IO_TYPE=LVCMOS33;
IO_LOC "uart_tx" 140;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;
//IO_LOC "cmos_pwdn" 15
//IO_PORT "cmos_pwdn" IO_TYPE=LVCMOS33;
IO_LOC "H_B_IO2" 101;
IO_LOC "H_B_IO6" 97;
IO_LOC "H_B_IO7" 98;
IO_LOC "H_B_IO0" 105;
IO_LOC "H_B_IO1" 106;
IO_LOC "IRDA_RXD" 119;
IO_PORT "IRDA_RXD" IO_TYPE=LVCMOS33;